.pic {
    height: 450px;
    width: 350px;
    background-image: url(../assets/john.webp);
}

.john {
    height: 450px;
}

@media (max-width: 768px) {
    .about-in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
    }

    .pic {
        width: 100%;
        margin: 0 auto;
    }

    .john {
        text-align: center;
    }
}